.nav-wrapper {
    background-color: black
}

.text{
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
}

#image{
    height: 55px;
    width: 100px;
    position: relative;
    top: 5px

}